/*.box{
    width: 250px;
    height: 250px;
    background-color: cornflowerblue;
    transition-property: background-color, border-radius, transform;
    transition-duration: 2000ms;
    transition-timing-function: ease;
    margin: 100px;
}*/
/*.box:hover{
    border-radius: 50%;
    background-color: darkgoldenrod;
    transform: rotate(-50deg);
}*//*
body{
    background-color: skyblue;
}
.box-img {
    display: flex;
    justify-content: space-between;
}
.sun{
    transition-property: transform;
    transition-duration: 15000ms;
    transition-timing-function: ease;
}
.sun:hover {
    transform: rotate(360deg);
}
.clouds{
    transition-property: transform;
    transition-duration: 5000ms;
    transition-timing-function: ease;
}
.clouds:hover{
    transform: translateX(-700px);
}
*/
.box{
    background-image: url(../img/football\ pitch.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 700px;
}
.img-football{
    height: 44px;
    width: 46px;
    margin-left: 325px;
    transition-property: transform;
    transition-duration: 5000ms;
    transition-timing-function: ease;
    margin-bottom: 50px;
}
.img-football:hover{
    transform: translateY(650px) rotate(360deg);
}
.img-football-player{
    width: 70px;
    margin-left: 100px;
    transition-property: transform;
    transition-duration: 5000ms;
    transition-timing-function: ease;
}
.img-football-player:hover{
    transform: translate(-400px, 650px);
}
