h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.container {
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.wrap {
    width: 1000px;
    height: 400px;
    background-image: url("https://cdn-icons-png.flaticon.com/512/361/361678.png"),
        url("https://cdn-icons-png.flaticon.com/512/4206/4206277.png"),
        url("https://cdn-icons-png.flaticon.com/512/814/814513.png"),
        url("https://static.vecteezy.com/system/resources/previews/025/727/894/original/3d-cute-pig-mascot-wearing-astronaut-costume-ai-generated-png.png"),
        url("https://cdn.pixabay.com/photo/2017/08/30/01/05/milky-way-2695569_1280.jpg");
    background-repeat: no-repeat;
    background-size: 80px, 100px, 150px, 130px, cover;
    background-position: top 120px right 130px, top 250px left 120px, center, 300px 60px, center;
}

.wrapper {
    margin: 40px;
    width: 320px;
    height: 270px;
    background-image: linear-gradient(310deg, yellow, skyblue, violet);
}
.box{
    margin: 40px;
    width: 620px;
    height: 270px;
    background-image: radial-gradient( circle at center,orange, violet );
    border-radius: 50px;
}